@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body{
    font-family:montserrat,sans-serif;
    background-color: #f5f3eb;
}

section {
    padding: 70px;
    padding-bottom: 90px;

    @media (max-width: 767px) {
        padding: 35px 20px;
    }
}

.service-section {
    position: relative;
    color: #fff;
    background-color: #ffffff;

    .box{
        background-color: #DD4747;  
        margin-left: 15px;
        max-width: 31.333333%;
        padding: 20px;

        @media (max-width: 767px) {
            max-width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }

        i{
            font-size: 100px;
        }
    }

    .project-thumbnail{
        margin-bottom: 15px;
    }

    h6{
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .btn-outline{
        margin-top: 20px;

        &:hover{
            background-color: $white;
            color: #262625;
        }

    }
    p{
        font-size: 14px;
    }

    .service-section-title{
        margin-bottom: 35px;
        font-family: 'Caviar Dreams';
        color: #262625;
        text-align: center;
    }



    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 40px;
        display: block;
        width: 70px;
        height: calc(50% - 32px);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;

        @media (max-width: 767px) {
            width: 40px;
            right: 25px;
            background-size: auto;
        }

        @media (max-width: 574px) {
            content: none;
        }
    }

    .service-category-title {
        padding-bottom: 4px;
    }
}

.about-section {
    background-color: #f5f3eb;
    font-family: "Caviar Dreams";
    padding-bottom: 70px;
    text-align: justify;

    @media (max-width: 574px) {
        padding-bottom: 30px;
    }
    .about-section-title{
        margin-bottom: 35px;
    }
    strong{
        color: #BA2625;
    }

    a{
        color: #252526;
        text-decoration: underline;
    }

    .about-column-indented {
        @media(min-width: 768px) {
            padding-top: 66px;
        }
    }
}

.why-section {

    @media (max-width: 767px) {
        .m-5 {
            margin: 0!important;
            margin-top: 20px !important;
        }
    }
    background-color: #DD4747;
    padding-bottom: 70px;
    color: #fff;

    p{
        color: #fff;  
    }
    .why-section-title{
        margin-bottom: 35px;
        font-size: 40px;
        font-family: "Caviar Dreams";
    }
    .why-column-indented {
        @media(min-width: 768px) {
            padding-top: 66px;
        }
    }
    .btn-outline{
        margin-top: 20px;

        &:hover{
            background-color: $white;
            color: #DD4747;
        }

    }
}

.team-section {
    background:#262625 url("../images/foto-13.jpg") top 20% center;
    background-repeat-x: repeat;
    background-size: 80%;
    background-repeat-y: no-repeat;

    @media(max-width: 768px) {
        background-size: 100%;
    }

    .col-md-6{
        padding: 0;
    }

    .section-title{
        font-size: 40px;
        font-family: "Caviar Dreams";
    }
    
    .slider {
        font-style: italic;
        font-size: 13px;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      
      .slider__nav {
        width: 12px;
        height: 12px;
        margin: 22rem 12px 10px;
        border-radius: 50%;
        z-index: 10;
        outline: 6px solid #ccc;
        outline-offset: -6px;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgb(51 51 51 / 0%);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      
        &:checked {
          -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
      
          &:nth-of-type(1) ~ .slider__inner {
            left: 0%;
          }
      
          &:nth-of-type(2) ~ .slider__inner {
            left: -100%;
          }
      
          &:nth-of-type(3) ~ .slider__inner {
            left: -200%;
          }
      
          &:nth-of-type(4) ~ .slider__inner {
            left: -300%;
          }
        }
      }
      
      .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
      }
      
      .slider__contents {

        @media(max-width: 768px) {
            padding: 0;
            font-size: 12px;
        }
        height: 100%;
        padding: 1rem;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      
      .slider__txt {
        color: #fff;
        margin-bottom: 3rem;
        text-align: justify;
      }
      
      @-webkit-keyframes check {
        50% {
          outline-color: #333;
          box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
      
        100% {
          outline-color: #333;
          box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
      }
      
      @keyframes check {
        50% {
          outline-color: #333;
          box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
        }
      
        100% {
          outline-color: #333;
          box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
        }
      }
    .section-title {
        color: #fff;
        margin-top: 40px;
        margin-bottom: 22px;
        text-align: center;
    }

}


.career-section {
    background-color: #4667A5;
    color: #ffffff;
    .section-title {
        font-size: 40px;
        position: relative;
        padding-bottom: 50px;
        font-family: "Caviar Dreams";
    }
    p{
        color: #ffffff;  
    }
    .btn-outline{

        &:hover{
            background-color: $white;
            color: #4667A5;
        }

    }
}

.contact-section {
    background-color: #DD4747;
    .contact-social-links {
        .nav-link {
            color: #262625;
            padding: 0 10px 20px 0;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
        

    }
    .contact-page-form-wrapper .form-control {
        background-color: #DD4747;
    }
    @media (max-width: 767px) {
        .contact-page-form-wrapper {
            padding: 0;
        }
        .nav-link {
            font-size: 13px;
        }
    }
    .section-title {
        font-size: 40px;
        margin-bottom: 36px;
        font-family: "Caviar Dreams";
        color: #ffffff;


    }
}






.brandyou-page{
    .contact-section {
        background-color: #f5f3eb;

        .contact-page-form-wrapper .form-control {
            background-color: #f5f3eb;;
        }
    }
    footer {
        background-color: #f5f3eb;
        border-top: 1px solid rgb(231 228 218);
    }
    nav .menu-wrapper {
        margin-left: 600px;

        .btn-outline{
            background-color:#B1D235 ;
            border-color: #B1D235;
            color: #fff;

            &:hover{
                border-color: #B1D235;
                color: #B1D235;
                background: transparent;
            }
        }
    }
    .contact-section{
        @media (max-width: 767px) {
            .contact-page-form-wrapper {
                padding: 0;
            }
        }
        h2{
            font-family: 'Quicksand', sans-serif;
            color: #252526;
        }

        .btn-outline{
            background-color:#B1D235 ;
            border-color: #B1D235;
            color: #fff;

            &:hover{
                border-color: #B1D235;
                color: #B1D235;
            }
        }
    }
    .service-section{
        color: #404042;
        background-color: #ffffff;
        
        .section-title{
            text-align: center;
        }

        h2{
            color:#B1D235;
            font-family: 'Quicksand', sans-serif;
        }
        .service-category-title{
            color: #404042;
        }
    }

.brandyou-section{
    background-color: #f5f3eb;
    padding: 150px 0 30px;

    a{
        color:#B1D235;  
    }
  
    p{
        text-align: justify;
    }

    h3{
        font-family: 'Quicksand', sans-serif;
    }

    h2{
        color:#B1D235;
        font-family: 'Quicksand', sans-serif;
    }
}

}


.metodoyou-page{

    .section-title{
        font-family: montserrat, sans-serif;
    }

    .about-section{
        background-color: #fff;

        p{
            font-family: montserrat, sans-serif;
        }

        .img-mac{
            margin-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .team-section{
    background: #292829;
    .slider__txt{
        text-align: center;
    }

    }

    h2{
        color: #fff;
    }

    .why-section{
        h2{
            text-align: center;
        }
        background-color: #647b98;
        ul{
            padding: 0;
        }
    }

    footer{
        background-color: #647b98;
        border-top: 1px solid #5a718e;
    }
    nav .menu-wrapper {
        margin-left: 770px;

        .btn-outline{
            background-color:#ffffff ;
            border-color: #ffffff;
            color: #647b98;

            &:hover{
                border-color: #ffffff;
                color: #ffffff;
                background: transparent;
            }
        }
    }
    .contact-section{
        background-color: #647b98;

        @media (max-width: 767px) {
            .contact-page-form-wrapper {
                padding: 0;
            }
        }

        .contact-page-form-wrapper .form-control{
            background-color: #647b98;
        }
        h2{
           color: #292829;
        }

        .btn-outline{
            background-color:#292829;
            border-color: #292829;
            color: #ffffff;

            &:hover{
                border-color: #292829;
                background: transparent;
                color: #292829
            }
        }
    }

    .object-section{
        background-image: url("../images/foto-12.png");
        background-repeat: no-repeat;
        background-size: 100%;
        color: #fff;
        @media (max-width: 767px) {
            background-repeat: repeat;
            background-size: 300%;
            .ml-5 {
                margin-left: 0 !important;
            }
            .mt-5 {
                margin-top: 0 !important;
            }
        }

        h2{
            text-align: center;
        }
    }
    .service-section{
        color: #404042;

        i{
            font-size: 70px;
            color:#647b98;
        }
        .section-title{
            text-align: center;
            font-size: 40px;
        }

        h2{
            color:#647b98;

        }
        .service-category-title{
            color: #647b98;
            font-size: 20px;
        }
        @media (max-width: 767px) {
            i{
                font-size: 50px;
            }
            .ml-5{
                margin-left: 0!important;
            }
            .mt-5{
                margin-top: 0rem !important;
            }
        }
    }

.metodoyou-section{
    background-color: #647b98;
    padding: 100px 0 0;

    @media (max-width: 767px) {
        padding: 100px 30px 20px
    }

    .text{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        color:#ffffff;  
    }
  
    p{
        text-align: justify;
        color:#ffffff; 
    }
}

}